/* * {
    outline: 2px solid red;
} */

body{
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.basic-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.details{
    text-align: center;
}

.details h4{
    font-weight: bolder;
    font-size: xx-large;
    flex: 1;
    margin-bottom: 0;
}

.details h5{
    margin-top: 0;
    margin-bottom: 15px;
    color: darkslategray;
    font-size: large;
}

#links {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: space-around;
}

.inner{
    margin: 50px;
}

.me{
    height: 250px;
    width: 250px;
    clip-path: circle(50% at 50% 50%);
}

#stack-header{
    font-weight: bolder;
    font-size: 20px;
}
.stack{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.tech{
    height: 100px;
    width: 100px;
    text-align: center;
}

.logo{
    height: 50px;
    width: 50px;
}

.logo img{
    margin-bottom: 2px;
}

.logo p{
    margin: 0;
}